main {
    padding: 0 0 10rem 0;
}

.intro-img {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15rem 10rem 10rem 10rem;
    gap: 10rem;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 4rem;
}

.intro h1 {
    font-size: 3.5rem;
    font-family: "Rubik Mono One", sans-serif;
    color: black;
}

.intro span {
    font-family: "Bungee Tint", sans-serif;
    font-size: 5rem;
}

.intro img {
    width: 4rem;
    height: auto;
}

.intro p {
    text-align: justify;
    text-align-last: left;
    font-size: 1.3rem;
    font-weight: 650;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.img {
    display: flex;
    justify-content: end;
}

.img img {
    width: 40rem;
    height: auto;
}

.container1 {
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
    gap: 5rem;
}

.title {
    display: flex;
    justify-content: flex-start;
    padding: 10rem 0 0 0;
}

.title h2 {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    color: black;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background-color: black;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.app:hover {
    transform: scale(1.1);
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
}

input {
    background-color: rgb(255, 255, 255);
    width: 20rem;
    height: 4rem;
    border-radius: 50px;
    border: 3px solid beige;
    padding: 0 2.8rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    transition: border 0.2s ease;
    cursor: pointer;
}

input:hover {
    border: 3px solid black;
}

.search-bar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-img {
    height: 1.5rem;
}

.search-bar button:hover, .button-discover button:hover {
    background-color: #df0030;
}

.one {
    gap: 5rem;
}

.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.artist img {
    width: 18rem;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.artist h3 {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: black;
}

.artist h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button-discover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-discover button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem 4rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    gap: 1rem;
    transition: background-color 0.3s ease;
}

button .two {
    width: 2.8rem;
    height: auto;
}

.playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 30rem;
    height: 40rem;
    border-radius: 50px;
    gap: 4rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    transition: transform 0.3s ease;
}

.playlist:hover {
    transform: scale(1.1);
}

.playlist-img {
    display: flex;
    justify-content: center;
    align-items: start;
}

.playlist-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.playlist-text h3 {
    text-align: start;
    font-size: 2rem;
    font-weight: 800;
}

.playlist-text p {
    text-align: start;
    font-size: 1.2rem;
    font-weight: 400;
}

.playlist-text h3:hover, .playlist-text p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.outro-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.outro-img .outro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}

.outro p {
    text-align: justify;
    text-align-last: center;
    font-size: 1.3rem;
    font-weight: 650;
}

.outro h2 {
    font-family: 'bungee tint', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.outro-img img {
    width: 35rem;
    height: auto;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}