@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 2rem 5rem;
    width: 100%;
    height: 6rem;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 3rem;
    height: auto;
}

.logo h1 {
    color: white;
    font-size: 3rem;
    font-family: "Bungee Tint", sans-serif;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10rem;
}

.links li {
    font-size: 1rem;
    font-family: "Rubik Mono One", sans-serif;
}

.links a {
    text-decoration: none;
    color: white;
}