body{
    background-color: rgb(22, 22, 22);
    color: white;
    cursor: default;
}

header{
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: space-around;
}

.logo{
    margin: 3.5% 0 0 -10%;
}

.marca{
    margin-top: 7%;
    margin-left: -30%;
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
    text-shadow: 1.5px 1.5px 3px white;
}

.menu{
    margin-top: 8%;
}

.menu a{
    margin: 0 70px;
}

a{
    padding: 5px 20px;
    color: brown;
    text-decoration: none;
    font-family: "ABeeZee", sans-serif;
    font-size: 125%;
    font-weight: 800;
    font-style: normal;
}

a:hover{
    background-color: rgba(165, 42, 42, 0.425);
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.01);
}

h2{
    margin-top: 8%;
    text-align: center;
    font-size: 180%;
    font-family: "Alfa Slab One", serif;
    font-weight: 900;
    font-style: normal;
    text-shadow: 1.5px 1.5px 3px rgb(161, 161, 161);
}

.intro{
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
}

.index{
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin: 7% 0 0 10%;
}

.intro img{
    margin-top: 5%;
}

.intro2{
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
}

.intro2 .index2{
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    margin: 7% 7% 0 5%;
    text-align: justify;
}

.intro2 img{
    margin-left: 7%;
}

h1{
    margin: 5% 0 0 10%;
    font-family: "Alfa Slab One", serif;
    font-weight: 900;
    color: rgb(214, 19, 19);
    text-shadow: 1.5px 1.5px 3px white;;
}

.about{
    color: white;
    text-shadow: 1.5px 1.5px 3px rgb(161, 161, 161);
}

.about-p{
    margin: 5% 15% 0 10%;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.contato p{
    margin: 5% 8%;
    text-align: center;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    background-color: gainsboro;
    max-width: 1000px;
    padding: 15px;
    border-radius: 10px;
    color: black;
}

form input[type="text"],
form input[type="email"],
form textarea{
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button{
    cursor: pointer;
    background-color: #5cb85c;
    color: #fff;
    border: 1px solid rgb(107, 106, 106);
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
}

form button:hover{
    background-color: #49eb49;
}

.imagem-dev{
    display: flex;
    align-items: flex-start;
    margin-top: 5%;
}

.imagem-dev img{
    margin-right: 15%;
    margin-top: -5%;
    border-radius: 25%;
    width: 400px;
    height: 325px;
}

.imagem-dev img:hover{
    box-shadow: 0 0 15px beige;
}

.imagem-dev .eu{
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 2% 10% 0 10%;
}